*{
    color: #eee!important;
    text-shadow: 0 0 3px #000!important;
    box-shadow: none!important;
    background-color: transparent!important;
    border-color: #444!important;
}

html{
    background: #333!important;
}

body{
    background-image: none!important;
}

a,
a *{
    color: #0cffff!important;
    text-decoration: none!important;
}