<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Teacher Page</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
<div class="container">
    <form action="/teachers/add" method="POST">
        <label for="name">Teacher Name</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               th:value="(${teacher} != null ? ${teacher.getName()} : '')"
               required
               placeholder="Enter course name">
        <div class="form-group">
            <label for="surname">Teacher Surname</label>
            <input type="text"
                   class="form-control"
                   id="surname"
                   name="surname"
                   th:value="(${teacher} != null ? ${teacher.getSurname()} : '')"
                   required
                   placeholder="Enter course description">
        </div>
        <input type="text"
               name="teacherId"
               id="teacherId"
               class="form-control"
               style="display:none!important;"
               th:value="(${teacher} != null ? ${teacher.getId()} : -1)"
               required>
<!--</div>-->
<label for='enrollmentDate'>Date:</label><input id='enrollmentDate' type='date' name='enrollmentDate' th:value=" ${(teacher != null && teacher.getDateOfEmployment() != null ? teacher.getDateOfEmployment() : #dates.format(#dates.createNow(), 'yyyy-MM-dd'))}"/><br/>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-primary" href="/teachers">Back</a>
    </form>
</div>
<!--</div>-->
</body>
</html>