<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Course Page</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form action="/courses/add" method="POST">
                <div class="form-group">
                    <label for="name">Course name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${course} != null ? ${course.getName()} : '')"
                           required
                           placeholder="Enter course name">
                </div>
                <div class="form-group">
                    <label for="description">Course Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${course} != null ? ${course.getDescription()} : '')"
                           required
                           placeholder="Enter course description">
                </div>
                <div class="form-group">
                    <label>Teacher</label>
                    <select name="teacherId" class="form-control">
                        <!--                        <option th:if="${teachers.size()} > 0"-->
                        <option th:if="${teacher} != null"
                                th:selected="${teacher != null && teacher.getId() == t.getId()}"
                                th:each="t : ${teachers}"
                                th:value="${t.getId()}"
                                th:text="${t.getName()}">
                        </option>
                        <option th:if="${teacher} == null"
                                th:each="t : ${teachers}"
                                th:value="${t.getId()}"
                                th:text="${t.getName()}">
                        </option>
                    </select>
                </div>
<!--                <input name="courseId" th:value="${course.courseId}">-->
                <div class="form-group" style="display:none!important;">
<!--                    <input type="text" name="courseId" id="courseId" class="form-control" style="display:none!important;" th:value="${course.getCourseId()}" disabled>-->
                    <!--                           th:value="(${course} != null ? ${course.getCourseId()} : -1)"-->
                    <input type="text"
                           name="courseId"
                           id="courseId"
                           class="form-control"
                           style="display:none!important;"
                           th:value="(${course} != null ? ${course.getCourseId()} : -1)"
                           required>
                </div>
                <label for='date'>Date:</label><input id='date' type='date' name='date' th:value="${(course != null && course.getDateEnrolled() != null ? course.getDateEnrolled() : #dates.format(#dates.createNow(), 'yyyy-MM-dd'))}"/><br/>
                <button type="submit" class="btn btn-primary">Submit</button>
<!--                <a type="button" class="btn btn-primary" href="/courses">Back</a>-->
                <a type="button" class="btn btn-primary" href="/listCourses">Back</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>