<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Grade Page</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
<div class="container">
    <div th:text="${student.getUsername()}"></div>
    <form action="/grades/add" method="POST">

<!--        th:value="(${grade.getGrade()} != null ? ${grade.getGrade()} : '')"-->
        <label for="gradeChar">Grade Letter</label>
        <input type="text"
               class="form-control"
               id="gradeChar"
               name="gradeChar"
               th:value="(${grade != null && grade.getGrade() != null} ? ${grade.getGrade()} : '')"
               required
               placeholder="Enter grade">

        <input type="text"
               class="form-control"
               id="studentUsername"
               th:value="${student.getUsername()}"
               style="display:none!important;"
               name="studentUsername"
               required>
        <input type="text"
               name="gradeId"
               id="gradeId"
               class="form-control"
               style="display:none!important;"
               th:value="(${grade} != null ? ${grade.id} : -1)"
               required>
<!--<label for='gradingDate'>Date:</label><input id='gradingDate' type='date' name='gradingDate' th:value=" ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/><br/>-->
<!--<label for='gradingDate'>Date:</label><input id='gradingDate' type='datetime-local' name='gradingDate' th:value=" ${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"/><br/>-->
        <div>
            <label for="gradingDate">Grade Time</label>
            <input type="datetime-local" id="gradingDate" name="gradingDate" th:value="(${grade} != null ? ${grade.getTimestamp()} :
            ${#dates.format(#dates.createNow(),'yyy-MM-dd HH:mm:ss')})" required placeholder="Enter time">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
<!--        <a type="button" class="btn btn-primary" href="/listCourses">Back</a>-->
        <a type="button" class="btn btn-primary" href="/addStudent">Back</a>
    </form>
</div>
<!--</div>-->
</body>
</html>