<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>

<form th:method="POST" th:action="@{/listCourses}">

    <!--<th:block th:text="${c.name} + ' (' + ${c.description} + ')'"></th:block>-->
    <div class="course" th:each="c:${courses}">
        <input type="radio" name="courseId" th:value="${c.courseId}" th:text="${c.name}">
        <span th:text="(${c.getDateEnrolled()} != null ? ${c.getDateEnrolled()} : '')"></span>
        <a class="editLink" th:href="@{'/courses/edit-form/{id}' (id=${c.getCourseId()})}" sec:authorize="isAuthenticated()">Edit</a>
        <a class="deleteLink" th:href="@{'/delete/{id}' (id=${c.getCourseId()})}" sec:authorize="isAuthenticated()">Delete</a>
        <br/>
        <span th:text="'- ' + ${(c.getDescription() != null ? c.getDescription() : '')}"></span>
        <br/>
<!--        <a th:href="@{'/courses/showGrades/{id}' (id=${c.getCourseId()})}">Grading Status</a>-->
<!--        <br/>-->
        <br/>
    </div>

<!--    <a type="submit" name="id">Submit</a>-->
<!--    <input type="submit" id="id" name="id" th:text="Submit">-->
    <input type="submit" value="submit">
</form>

<!--<a href="/courses/add-form">Add Course</a>-->
<a class="addCourseLink" sec:authorize="hasRole('ROLE_ADMIN')" href="/courses/add-form">Add Course</a>

<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--<div sec:authorize="hasRole('ROLE_USER')">-->
<!--    <a href="/logout">Logout</a>-->
<!--</div>-->
<!--</div>-->

<div sec:authorize="isAuthenticated()">
    <a href="/logout">Logout</a>
</div>

<!--<a href="/addStudent">Submit</a>-->
</body>
</html>