<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
<header>
    <h1>Grades in Course</h1>
</header>
<section>
    <!--    <div>Веб програмирање</div>-->
<!--    <div th:text="${session.currentCourseName}"></div>-->
<!--    <ul>-->
<!--        <li th:each="g:${gradesInCurrentCourse}">-->
<!--&lt;!&ndash;            <th:block th:text="${g.student.getName()} + ' ' + ${g.student.getSurname()} + ' (' + ${g.student.getUsername()} + ') - ' ${g.getGrade()}"></th:block>&ndash;&gt;-->
<!--            <th:block th:text="${g.student.name} + ' ' + ${g.student.surname} + ' (' + ${g.student.username} + ') - ' ${g.grade}"></th:block>-->
<!--        </li>-->
<!--    </ul>-->

    <div th:each="g:${gradesInCurrentCourse}">
<!--            <span th:text="${g.student.name} + ' ' + ${g.student.surname} + ' (' + ${g.student.username} + ') - ' ${g.grade}"></span>-->
            <span th:text="${g.student.name} + ' ' + ${g.student.surname} + ' (' + ${g.student.username} + ') - ' + ${g.grade}"></span>
    </div>
<!--    <a href="/listCourses">Back</a>-->
    <a href="/addStudent">Back</a>
</section>
</body>
</html>