<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>
    <a href='/createStudent' type='button' sec:authorize="hasRole('ROLE_ADMIN')">Create New Student</a> <br/> <br/>
    <form th:method="POST" th:action="@{/StudentEnrollmentSummary}">
        <div th:each="s:${students}">
            <input type="radio" name="selectedStudent" th:value="${s.getUsername()}" th:text="${s.getName()} + ' ' + ${s.getSurname()}"> <br/>
        </div>
<!--        <a href="/StudentEnrollmentSummary">Submit</a>-->
        <input type="submit" value="submit" sec:authorize="isAuthenticated()">
    </form>
    <a th:href="'/grades/' + ${courseId}">See grades in this course</a>
    <br/>
    <a th:href="'/studentList/' + ${courseId}">See students in this course</a>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
<!--            <td>2</td>-->
            <th:block><td th:text="${session.courseId}"></td></th:block>
        </tr>
        <tr th:if="${session.activeUsers != null}">
            <td><b>Active Students</b></td>
            <th:block><td th:text="${session.activeUsers}"></td></th:block>
        </tr>
    </table>
    <a href="/listCourses">Courses List</a>
</aside>

</body>
</html>