<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>

<form th:method="POST" th:action="@{/listCourses}">
    <div th:each="c:${courses}">
        <input type="radio" name="courseId" th:value="${c.courseId}" th:text="${c.name}"> <br/>
    </div>
    <input type="submit" value="submit">
</form>
</body>
</html>