<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
    <div th:each="c:${AllCoursesList}">
        <div th:text="${c.name}"></div>
        <ul>
        <li th:each="s:${c.getStudents()}">
<!--            <div th:each="${s.name}"></div>-->
            <th:block th:text="${s.name} + ' ' + ${s.surname} + ' (' + ${s.username} + ')'"></th:block>
        </li>
        </ul>
        <div></div>
    </div>
</body>
</html>