<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
<!--    <title>WP lab - Students in Course</title>-->
    <title th:text="${course.name} + ' - Students in Course'"></title>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
<!--    <div>Веб програмирање</div>-->
    <div th:text="${course.name}"></div>
    <ul>
        <li th:each="s:${course.students}">
            <th:block th:text="${s.name} + ' ' + ${s.surname} + ' (' + ${s.username} + ')'"></th:block><a th:href="'/grades/add-grade/' + ${s.username}" sec:authorize="hasRole('ROLE_ADMIN')">Add Grade</a>
        </li>
    </ul>
<!--    <a href="/listCourses">Back</a>-->
    <a href="/addStudent">Back</a>
</section>

</body>
</html>