<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teachers</title>
  <link rel="stylesheet" th:href="@{/css/darkMode.css}">
</head>
<body>
<form th:method="POST" th:action="@{/teachers}">

  <!--<th:block th:text="${c.name} + ' (' + ${c.description} + ')'"></th:block>-->
  <div th:each="t:${teachers}">
    <input type="radio" name="courseId" th:value="${t.getId()}" th:text="${t.getName()}  + ' ' + ${t.getSurname()} + ' ' + (${t.getDateOfEmployment() != null ? t.getDateOfEmployment() : ''})">
    <a th:href="@{'/teachers/edit-form/{id}' (id=${t.getId()})}">Edit</a>
    <a th:href="@{'/teachers/delete/{id}' (id=${t.getId()})}">Delete</a>
    <br/>
  </div>
  <!--    <input type="submit" value="submit">-->
</form>

<a href="/teachers/add-form">Add teacher</a>
<!--<a href="/addStudent">Submit</a>-->

<!--<div th:if="${haserror}">-->
<!--    <div th:text="${error}"></div>-->
</body>
</html>